<!DOCTYPE html>
<html>
<head>
	<title>components_login</title>
	<style type="text/css">
		[v-cloak]{display: none;}
		input {
			margin: 10px;
			display: block;
		}
	</style>
</head>
<body>
	<div id="app" v-cloak>
		<login-form />
	</div>

	<script src="https://unpkg.com/vue@next"></script>
	<script>
		let app=Vue.createApp({
			data(){
				return{
					greeting : 'hello VUE',
					isVisible: false,
					isVisible2: false
				}
			},
			methods:{
				toggleBox(){
					this.isVisible = !this.isVisible
				},
				greet(greeting){
					console.log(greeting+" XD")
				}
			}
		})
		app.component ('login-form',{
			template: `<form @submit.prevent="handleSubmit">
 				<h1> {{ title }} </h1>
				<custom-input 
					v-for="(input,i) in inputs"
					:key="i"
					v-model="input.value"
					:label="input.label"
					:type="input.type"
				/>
				<button>Log In</button>
				</form>` ,
			components:['custom-input'],
			data(){
				return{
					title:'Login Form',
					inputs:[
					{
						label:'Email',
						value:'',
						type:'email'
					},
					{
						label:'Password',
						value:'',
						type:'password'
					}
					]
				}
			},
			methods:{
				handleSubmit(){
					console.log(this.inputs[0].value,this.inputs[1].value)
				}
			}

		})
		app.component ('custom-input',{
			template: `
				<label>
					{{label}}
					<input :type="type" v-model="inputValue">
				</label>
			`,
			props: ['label','type','modelValue'],
			computed:{
				inputValue:{
					get(){
						return this.modelValue
					},
					set(v){
						console.log(v)
						this.$emit('update:modelValue',v)
					}
				}
			}
			// data(){
			// 	return{
			// 		inputValue:''
			// 	}
			// }
		})
		app.mount('#app')
	</script>
</body>
</html>